rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // 전체 공개 (요청 반영)
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
